
<form action="/Employee/AddEmployee" method="post" >
    <input type="number" name="Id" >
    <input type="text" name="Name" >
    <input type="number" name="Age">
    <input type="submit" value="submit">
</form>